@page "/counter"

<h1>Counter</h1>

<ObservableSection>

    <p>Current count: @currentCount.Bind(context)</p>

    <p>Editable count: <input type="number" value="@currentCount.Bind(context)" @onchange="@currentCount.Set(context, v=> int.Parse(v))" /></p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</ObservableSection>
@code {
    private BehaviorSubject<int> currentCount = new BehaviorSubject<int>(0);

    private void IncrementCount()
    {
        currentCount.OnNext(currentCount.Value + 1);
    }
}